#Top{
    background-color: grey;
    font-weight: bold;
}
h1{
    color:hotpink;
}
.slanted{
    font-style:italic;
}
#emphatic{
    font-weight: Bold;
}
.sapphire{
    color: blue;
}
#ruby{
    color: red;
}
