.Top{
    background-color: grey;
    font-weight: bold;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
}
.container{
    max-width: 750px;
    margin: 0 auto;
}
#textborder{
    border: 1px solid black;
}
h1{
    color:hotpink;
}
.slanted{
    font-style:italic;
}
#emphatic{
    font-weight: Bold;
}
.sapphire{
    color: blue;
}
#ruby{
    color: red;
}
footer{
    background-color: tomato;
    color: darkmagenta;
}
