#menu:hover > ul {
  display: list-item;
}
#menu {
  font-family: sans-serif;
  margin: 80px;
  display: inline;
  cursor: pointer;
  position: relative;
}

#menu > ul {
  background-color: white;
  margin: 0;
  padding: 0;
  list-style-type: none;

  position: absolute;
  top: 17px;
  left: 0;

  display: none;
}
.Hlink{
    text-decoration: none;
}
.Top{
    background-color: grey;
    font-weight: bold;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
}
.container{
    max-width: 750px;
    margin: 0 auto;
}
#textborder{
    border: 1px solid black;
}
h1{
    color:hotpink;
}
.slanted{
    font-style:italic;
}
#emphatic{
    font-weight: Bold;
}
.sapphire{
    color: blue;
}

}
footer{
    background-color: tomato;
    color: darkmagenta;
}
